# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
google-services.json
ios/Pods/
android/.gradle/
android/app/build/
android/build/
ios/build/
ios/DerivedData/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
italoapp-7def0-firebase-adminsdk-fbsvc-ce20e40ec1.json

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# generated service worker (contains Firebase keys from .env)
public/firebase-messaging-sw.js

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
